<div class="container-sidebar" [class.menu-mobile-active]="isMobile">
  <div class="container-image-logo menu-mobile-active">
    <img class="logo" src="/logopage.png" alt="">

    <mat-icon class="menu-mobile-icon" (click)="toggleMenu()">menu</mat-icon>

  </div>


  <ul [class.menu-mobile-active]="isMobile">
    <li
    routerLinkActive="active"
    *ngFor="let item of itensNav"
    [routerLinkActiveOptions]="{ exact: true }"
    >
      <a [routerLink]="item.linkTo">
        <mat-icon>{{item.icon}}</mat-icon>
        <p>{{item.label}}</p>

      </a>
    </li>
  </ul>


  <div class="footer-sidebar" [class.menu-mobile-active]="isMobile">
    <div class="footer-box" [routerLink]="['/meu-perfil']" routerLinkActive="active">
      <mat-icon>account_circle</mat-icon>
      <p>Meu perfil</p>
    </div>

    <div class="footer-box">
      <mat-icon>exit_to_app</mat-icon>
      <p>Sair</p>
    </div>
  </div>
</div>
