.app-main-container{
  position: relative;
  display: flex;
  width: 100vw;
  height: 100vh;

  @media (max-width:500px) {
    flex-direction: column;

  }
}

.content{
  display: flex;
  flex: 1;
  background-color: #e6e0c5;
}
